.row-runs{
  background-color: rgba(255,255,255,0.94);
  padding: 10px 32px;
}

td{
  font-size: 1.4em;
}

table>tbody>tr:hover{
  background-color: #fff;
}

td > a{
  color: #ff1744;
}

td > a:hover{
  text-decoration: none;
  color: #ff5252;
}

hr{
  border-color: #ddd;
}

.summary{
  font-size: 1.4em;
}

.heading{
  font-family: 'Fjalla One', sans-serif;
}

.totals{
  display: inline;
  font-family: 'Fjalla One', sans-serif;
  color:#333;
  margin: 2px;
}
